In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Imports

In [27]:
import pandas as pd

from get_data import get_data

# Load data

In [18]:
greenfield_df = get_data("q7d6-ambg", params = {"neighbourhood":"GREENFIELD"})

In [19]:
greenfield_df.head()

  account_number house_number  ... tax_class_pct_1 mill_class_1
0        1089457        11735  ...             100  RESIDENTIAL
1        1089531        11515  ...             100  RESIDENTIAL
2        1089572        11511  ...             100  RESIDENTIAL
3        1089515        11517  ...             100  RESIDENTIAL
4        1089473        11521  ...             100  RESIDENTIAL

[5 rows x 13 columns]

In [21]:
greenfield_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account_number    1000 non-null   object
 1   house_number      991 non-null    object
 2   street_name       991 non-null    object
 3   garage            1000 non-null   object
 4   neighbourhood_id  1000 non-null   object
 5   neighbourhood     1000 non-null   object
 6   ward              1000 non-null   object
 7   assessed_value    1000 non-null   object
 8   latitude          1000 non-null   object
 9   longitude         1000 non-null   object
 10  point_location    1000 non-null   object
 11  tax_class_pct_1   1000 non-null   object
 12  mill_class_1      1000 non-null   object
dtypes: object(13)
memory usage: 101.7+ KB

# Data Cleaning

In [28]:
# convert numeric columns to numbers
numeric_cols = ["account_number",
               "house_number", 
               "neighbourhood_id",
               "assessed_value",
               "latitude",
               "longitude",
               "tax_class_pct_1"]

In [35]:
greenfield_df[numeric_cols] = greenfield_df[numeric_cols].apply(pd.to_numeric)

In [ ]:
greenfield_df.